*{margin:0;padding:0;}
#app{
	overflow-x: hidden;
	font-size: 0.32rem;
}
[v-cloak]{
	display: none;
}
.bannerswiper {
    height: 3rem;
}
.slideimg{
	width:100%;
	object-fit:cover;
	height:100%;
}
.borderbottomgray{
  border-bottom:0.21rem solid #f4f5f7;
}
.oneline{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.onlineBrand{
  margin-top: 0.32rem;
  padding-bottom: 0.25rem;
}
.text{
  font-size: 0.35rem;
  color:#191919;
  font-weight: bold;
  margin:0 0 0.33rem 0.27rem; 
}
.onlineswiper{
	height:1.5rem;
}
.onlineslide{
  border-left: 0.01rem solid #f4f5f7;
  text-align: center;
  font-size: 0.20rem;
  color:#8a8a8a;
  position:relative;
}
.onlineslide:first-child{
  border-left: none;
}
.onlineimg{
  width:0.96rem;
  height:0.96rem;
  border-radius: 50%;
  object-fit:cover;
}
.mt13{
  margin-top: 0.13rem;
}
.bargain{
	margin-top: 0.32rem;
	box-sizing: border-box;
	padding:0 0.27rem 0.4rem;
	overflow: hidden;
}
.bargain .text{
	margin-left: 0;
}
.bargainimg{
	width:100%;
	height:100%;
	object-fit: cover;
	border-radius: 0.15rem;
}
.top1{
	height:3rem;
	margin-bottom: 0.17rem;
	position:relative;
}
.top2 .bargainimg,.top3 .bargainimg{
	height:2rem
}
.top2,.top3{
	width:3.4rem;
	overflow: hidden;
	float:left;
	position:relative;
}
.top3{
	float:right;
}
.tag{
	width:0.66rem;
	height:0.34rem;
	line-height: 0.34rem;
	border-top-left-radius: 0.17rem;
	border-bottom-left-radius: 0.17rem;
	background-color: #ff4e00;
	color:white;
	text-align: center;
	position:absolute;
	right:0;
	font-size: 0.16rem;
	top:0.2rem;
}
.bargaintitle{
	font-size: 0.26rem;
	color:#3a3a3a;
	font-weight: bold;
	text-indent: 0.14rem;
	margin-bottom: 0.1rem;
}
.bname{
	font-size: 0.23rem;
	color:#7a7a7a;
	text-indent: 0.14rem;
}
.bbtn{
	width:1.3rem;
	height:0.45rem;
	border-radius: 0.08rem;
	float: right;
	box-sizing: border-box;
	text-align: center;
	line-height: 0.45rem;
	font-size: 0.16rem;
	color:#eea651;
	border:0.01rem solid;
}
.recommend{
	margin-top: 0.32rem;
	box-sizing: border-box;
	overflow: hidden;
}
.recommendswiper{
	margin-top:0.26rem;
	height:0.85rem;
	line-height: 0.85rem;
	text-align: center;
	line-height: 0.85rem;
	font-size: 0.3rem;
	color:#777777;
	border-top:0.01rem solid #f4f5f7;
	border-bottom:0.01rem solid #f4f5f7;

}
.activerecommend{
	color:#e88817;
}
.activerecommend:after{
	content:'';
	display: block;
	width:100%;
	height:0.05rem;
	background-image: linear-gradient(to right,#eb993c 50%,#fdce2f 50%);
	background-image: -webkit-linear-gradient(to right,#eb993c 50%,#fdce2f 50%);
	margin-top:-0.06rem;
}
.recommendslide{
	height:100%;
	position:relative;
}
.reswiper{
	height: 350px;
}
.reslide{
	box-sizing: border-box;
	padding:0 0.27rem;
}
.wuimg{
	width:0.9rem;
	height:0.9rem;
	border-radius: 0.1rem;
	object-fit: cover;
	margin-left: 0.1rem;
	flex-shrink: 0;
	margin-right: 0.27rem;
}
.wuopera{
	width:1.6rem;
	height:0.5rem;
	line-height: 0.5rem;
	vertical-align: middle;
	font-size: 0.28rem;
	font-weight: bold;
	color:white;
	background-color: #ec9d40;
	text-align: center;
	border-radius: 0.1rem;
	flex-shrink: 0;
}
.wupin{
	height:20%;
	box-sizing: border-box;
	border-bottom:0.01rem solid #f5f6f8;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: space-between;
}
.midwu{
	flex-grow: 1;
}
.wutitle{
	font-size: 0.3rem;
	color:black;
}
.wudesc{
	font-size: 0.22rem;
	color:#ababab;
}
.operare{
	height:0.8rem;
}
.news{
	margin-top: 0.32rem;
	margin-bottom: 0.5rem;
}
.newlist{
	padding:0 0 0.48rem;
	margin:0 0.27rem 0.48rem;
	box-sizing: border-box;
	border-bottom: 0.01rem solid #f2f4f6;
}
.newsimg{
	object-fit: cover;
	width:100%;
	height:2rem;
}
.newstitle{
	font-size: 0.3rem;
	color:black;
	font-weight: bold;
	word-break: break-all;
	margin-bottom: 0.24rem;
}
