*{
	margin:0;
	padding:0;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
a{
	text-decoration: none;
}
#app{
	overflow-x: hidden;
	font-size: 0.32rem;
	background-color: white;
	margin-bottom: 0.88rem;
}
[v-cloak]{
	display: none;
}
.bannerswiper {
    height: 3rem;
}
.slideimg{
	width:100%;
	object-fit:cover;
	height:100%;
}
.borderbottomgray{
  border-bottom:0.21rem solid #f4f5f7;
}
.oneline{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.onlineBrand{
  margin-top: 0.32rem;
  padding-bottom: 0.25rem;
}
.text{
  font-size: 0.35rem;
  color:#191919;
  font-weight: bold;
  margin:0 0 0.33rem 0.27rem; 
}
.onlineslide{
  border-left: 0.01rem solid #f4f5f7;
  text-align: center;
  font-size: 0.20rem;
  color:#8a8a8a;
  position:relative;
	padding-top: 0.15rem;
	width:1.65rem!important;
}
.onlineslide:first-child{
  border-left: none;
}
.onlineimg{
  width:95%;
}
.hot{
	width:0.22rem;
	position:absolute;
	right:0.1rem;
	top:0.14rem;
}
.mt13{
  margin-top: 0.13rem;
}
.bargain{
	margin-top: 0.32rem;
	box-sizing: border-box;
	padding:0 0.27rem 0.4rem;
	overflow: hidden;
}
.bargain .text{
	margin-left: 0;
}
.bargainimg{
	width:100%;
	height:100%;
	object-fit: cover;
	border-radius: 0.15rem;
}
.top1{
	height:3rem;
	margin-bottom: 0.17rem;
	position:relative;
	display: block;
}
.top2 .bargainimg,.top3 .bargainimg{
	height:2rem
}
.top2,.top3{
	width:3.4rem;
	overflow: hidden;
	float:left;
	position:relative;
	display: block;
}
.top3{
	float:right;
}
.tag{
	width:0.8rem;
	height:0.38rem;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	border-top-left-radius: 0.17rem;
	border-bottom-left-radius: 0.17rem;
	background-color: #ff4e00;
	color:white;
	text-indent: 0.17rem;
	position:absolute;
	right:0;
	font-size: 0.24rem;
	top:0.2rem;
}
.bargaintitle{
	font-size: 0.28rem;
	color:#3a3a3a;
	font-weight: bold;
	text-indent: 0.14rem;
	margin-bottom: 0.1rem;
}
.bname{
	font-size: 0.23rem;
	color:#7a7a7a;
	text-indent: 0.14rem;
}
/* .bbtn{
	width:1.3rem;
	height:0.45rem;
	border-radius: 0.08rem;
	float: right;
	box-sizing: border-box;
	text-align: center;
	line-height: 0.45rem;
	font-size: 0.2rem;
	color:#eea651;
	border:0.01rem solid;
} */
.recommend{
	margin-top: 0.32rem;
	box-sizing: border-box;
	overflow: hidden;
}
.recommendswiper{
	margin-top:0.26rem;
	height:0.85rem;
	line-height: 0.85rem;
	text-align: center;
	line-height: 0.85rem;
	font-size: 0.3rem;
	color:#777777;
	border-top:0.01rem solid #f4f5f7;
	border-bottom:0.01rem solid #f4f5f7;
}
.activerecommend{
	color:#e88817;
}
.activerecommend:after{
	content:'';
	display: block;
	width:100%;
	height:0.05rem;
	background-image: linear-gradient(to right,#eb993c 50%,#fdce2f 50%);
	background-image: -webkit-linear-gradient(to right,#eb993c 50%,#fdce2f 50%);
	margin-top:-0.04rem;
}
.recommendslide{
	height:100%;
	width:2.14rem!important;
	position:relative;
}
.zhushuspan{
	display: inline-block;
}
.reswiper{
	height: 350px;
}
.reslide{
	box-sizing: border-box;
	padding:0 14px;
}
.wuimg{
	width:45px;
	height:45px;
	border-radius: 5px;
	object-fit: cover;
	margin-left: 5px;
	flex-shrink: 0;
	margin-right: 14px;
}
.wuopera{
	width:80px;
	height:25px;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: bold;
	color:white;
	background-color: #ec9d40;
	border-radius: 5px;
	flex-shrink: 0;
	margin-right: 18px;
}
.wupindiv{
	height:20%;
	box-sizing: border-box;
	border-bottom:1px solid #f5f6f8;
}
.wupin{
	height:100%;
	box-sizing: border-box;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: space-between;
}
.midwu{
	flex-grow: 1;
	overflow: hidden;
}
.wutitle{
	font-size: 14px;
	color:#222222;
}
.wudesc{
	font-size: 11px;
	color:#ababab;
}
.operare{
	height:0.8rem;
}
.news{
	margin-top: 0.32rem;
	margin-bottom: 0.5rem;
}
.newlist{
	display: block;
	padding:0 0 0.15rem;
	margin:0 0.27rem 0.15rem;
	box-sizing: border-box;
	border-bottom: 0.01rem solid #f2f4f6;
}
.newsimg{
	object-fit: cover;
	width:100%;
	height:2rem;
}
.newstitle{
	font-size: 0.28rem;
	color:#222222;
	font-weight: bold;
	word-break: break-all;
	margin-bottom: 0.24rem;
}
.operare{
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}
.opwrap{
	width:1.8rem;
	height:100%;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}
.tri{
	width:0.42rem;
}