<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>金融频道</title>
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<script src="js/rem.js"></script>
	</head>
	<body>
		<div id="app" v-cloak>
			<div class="swiper-container bannerswiper borderbottomgray">
				<div class="swiper-wrapper">
					<div class="swiper-slide" v-for="item in bannerList" :key="item.id">
						<a v-if="!item.url.match(new RegExp(rootname))"  :href="'./detail.html?url='+item.url|handleurl">
							<img class="slideimg" :src="item.img" />
							{{item.url|ispufa}}
						</a>
						<a v-else :href="item.url|pufa">
							<img class="slideimg" :src="item.img" />
						</a>
					</div>
				</div>
				<!-- 如果需要分页器 -->
				<div class="swiper-pagination"></div>
			</div>
			<div class="onlineBrand borderbottomgray">
				<div class="text">品牌活动</div>
				<div class="onlineswiper">
					<div class="swiper-wrapper">
						<a :href="item.url" class="swiper-slide onlineslide" v-for="item in onlinelist" :key="item.id">
							<img src="src/hot.png" class="hot" v-if="item.ishot" />
							<img class="onlineimg" :src="item.img">
							<div v-text="item.text"></div>
						</a>
					</div>
				</div>
			</div>
			<div class='bargain borderbottomgray'>
				<div class='text'>超值特惠</div>
				<div v-for="(item , index) in tehui" :key="item.id">
					<a  v-if="!item.url.match(new RegExp(rootname))" :class="'top'+(index+1)"  :href="'./detail.html?url='+item.url|handleurl">
						<img class="bargainimg" :src='item.img' />
							<div class='tag'>No.{{index+1}}</div>
							<div v-if="!!item.title" class="bargaintitle oneline">{{item.title}}</div>
							<div v-if="!!item.name">
								<!-- <div class="bbtn">无卡申请</div> -->
								<div class="bname oneline">{{item.name}}</div>
							</div>
					</a>
					<a  v-else :class="'top'+(index+1)" :href="item.url|pufa">
						<img class="bargainimg" :src='item.img' />
							<div class='tag'>No.{{index+1}}</div>
							<div v-if="!!item.title" class="bargaintitle oneline">{{item.title}}</div>
							<div v-if="!!item.name">
								<!-- <div class="bbtn">无卡申请</div> -->
								<div class="bname oneline">{{item.name}}</div>
							</div>
					</a>
				</div>
			 </div>
			 <div class="recommend borderbottomgray">
			 	<div class='text'>专属推荐</div>
			 	<div class="recommendswiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide recommendslide"  v-for="item in recommendlist" :key="item" @click="selectrecom(item)">
							<span class="zhushuspan" :class="[activerecom===item?'activerecommend':'']">{{item}}</span>
						</div>
					</div>
				</div>
				<div class="reswiper swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide reslide swiper-no-swiping" v-for="(item,keyn) in compu_recommendObj[activerecom]" :key="keyn">
							<div class="wupindiv" v-for="(wuitem,wuindex) in item" :key="wuitem.id">
								<a  v-if="!wuitem.url.match(new RegExp(rootname))" :href="'./detail.html?url='+wuitem.url|handleurl" class="wupin" >
									<img :src="wuitem.img" class="wuimg" />
									<div class="midwu">
										<div class="wutitle oneline">{{wuitem.title}}</div>
										<div class="wudesc oneline">{{wuitem.desc}}</div>
									</div>
									<div class="wuopera"><span>{{wuitem.type}}</span></div>
								</a>
								<a  v-else :href="wuitem.url|pufa" class="wupin" >
									<img :src="wuitem.img" class="wuimg" />
									<div class="midwu">
										<div class="wutitle oneline">{{wuitem.title}}</div>
										<div class="wudesc oneline">{{wuitem.desc}}</div>
									</div>
									<div class="wuopera"><span>{{wuitem.type}}</span></div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="operare">
					<div class="opwrap" @click="oppre">
						<img src="src/up.jpg" class="tri" >
					</div>
					<div class="opwrap" @click="opnext">
						<img src="src/down.jpg" class="tri" >
					</div>
				</div>
			 </div>
			<div class="news">
				<div class='text'>热卡推荐</div>
				<div v-for="item in newslist" :key="item.id">
					<a v-if="!item.url.match(new RegExp(rootname))" class="newlist" :href="'./detail.html?url='+item.url|handleurl">
						<div class="newstitle">{{item.title}}</div>
						<img :src="item.img" class="newsimg" />
					<a>
					<a v-if="item.url.match(new RegExp(rootname))" class="newlist" :href="item.url|pufa">
						<div class="newstitle">{{item.title}}</div>
						<img :src="item.img" class="newsimg" />
					<a>
				</div>
			</div>
		</div>
	</body>
	<script src="js/vue.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script>
		var reswiper=null;
		//banner图
		window.onload=function(){
			var mySwiper = new Swiper ('.bannerswiper', {
			loop: true, // 循环模式选项
			autoplay: {
				delay: 6000,
				stopOnLastSlide: false,
				disableOnInteraction: false,
				},
			// 如果需要分页器
			pagination: {
			  el: '.swiper-pagination',
			}
		  })     
		  var onlineSwiper = new Swiper ('.onlineswiper', {
				slidesPerView : 4,
				slidesPerGroup : 1,
			  })
		  var recommendswiper=new Swiper ('.recommendswiper', {
				slidesPerView : 3,
				slidesPerGroup : 1,
			  })
		  reswiper=new Swiper ('.reswiper', {
			direction : 'vertical'
			})
		}
  </script>
	</script>
	<script>
		var vm=new Vue({
			el:'#app',
			data:{
				rootname:'https://rongmo2.zhgroot.cn',
				swipercount:1,//专属推荐页面个数
				bannerList: [
					{
						id:1,
						img:"./src/banner1.png",
						url:'https://rongmo2.zhgroot.cn/creditcard/indexActivity.htm?data=I2553943&itemcode=rm00000087'
					},
					{
						id:2,
						img:"./src/banner3.png",
						url:'https://xyk.cebbank.com/cebmms/apply/ps/card-list.htm?pro_code=FHTG023510SA0586RGLK'
					},
					{
						id:3,
						img:"./src/banner4.jpg",
						url:'https://creditcard.ecitic.com/h5/shenqing/index.html?sid=SJW0000332'
					}
				],
				onlinelist:[
				  {
					id:1,
					img: "./src/online1.jpg",
					text:'饮品随机减',
					ishot:true,
					url:'./detail/brand_d.html?type=starbucks'
				  },
				  {
					id: 2,
					img: "./src/online2.jpg",
					text: '5元抵扣券',
					ishot:false,
					url:'./detail/brand_d.html?type=w'
				  },
				  {
					id: 3,
					img: "./src/online3.jpg",
					text: '超值代金券',
					ishot:false,
					url:'./detail/brand_d.html?type=burger'
				  },
				  {
					id: 4,
					img: "./src/online4.jpg",
					text: '周三享5折',
					ishot:false,
					url:'./detail/brand_d.html?type=pizzahut'
				  },
				  {
					id: 5,
					img: "./src/online5.jpg",
					text: '折扣券放送',
					ishot:false,
					url:'./detail/brand_d.html?type=haagendars'
				  }
				],
				tehui:[
					{
						id:1,
						img:"./src/top1.png",
						url:'https://apply.mcard.boc.cn/apply/UNRFjq'
					},
					{
						id:2, 
						img:"./src/top2.png",
						title:"刷卡返现畅游世界",
						name:"民生银行信用卡",
						url:'https://creditcard.cmbc.com.cn/wsv2/?enstr=EElmFyYsT7I%2be8FEz94wG6WIPXEL7FXHEM%2bKiWWMVZBpTmxoGyT5fmVCYtkC3Ya%2bHqac1BZ4ckUIsVD3Cl%2fTI2ikn4qcKLXcT6tUXuvrOIObxJdXJaJvJ5%2b7kyGpSH4%2ffniLhMNwwclYQCPWTLC5%2fCgvoihUBD96oWvcYVAbt%2bYzv1bItdcEqWutxO5YNj4m8VcZNqXG5qK8Szc6wbA09IfQydeCTADb8CwPsPEnl5A24D3siqvorxnJ8fXjAgm%2bpbNwaqYPkXRitN500GbbAQwg3S%2f%2baEhs4bWfjOJ5otPKTTEDFQlLxiNLj5UDJp8n0vxSKBQgs6El4lQuts7UHA%3d%3d'
					},
					{
						id:3,
						img:"./src/top3.png",
						title:"6积分享超值好礼",
						name:"兴业银行信用卡",
						url:'https://wm.cib.com.cn/html/webapp/fast-issue/home.html?id=1fcd64010bb64c6ea69a01cda2d62a18'
					}
				],
				recommendlist:['浦发银行','中信银行','光大银行','中国银行','民生银行','兴业银行','平安银行'],
				activerecom:'浦发银行',
				recommendObj:{
					'浦发银行':[
						{
							id:1,
							img:'./src/pu1.png',
							title:'刷卡金返还&多倍积分',
							desc:'\"小浦惠花\"指定商户专享',
							type:'立即申请',
							url:'https://rongmo2.zhgroot.cn/creditcard/indexActivity.htm?data=I2553943&itemcode=rm00000087'
						},
						{
							id:2,
							img:'./src/pu2.png',
							title:'境外刷卡享50元酒店好礼',
							desc:'单笔满200元即可使用',
							type:'立即申请',
							url:'https://rongmo2.zhgroot.cn/creditcard/indexActivity.htm?data=ZF2780059&itemcode=0000000187'
						},
						{
							id:3,
							img:'./src/pu3.png',
							title:'浦发惠军联名卡荣耀上市',
							desc:'专属福利，月月有礼',
							type:'立即申请',
							url:'https://rongmo2.zhgroot.cn/creditcard/indexActivity.htm?data=I2553943&itemcode=rm00000087'
						},
						{
							id:4,
							img:'./src/pu4.png',
							title:'猪小屁信用卡福气满满',
							desc:'首刷礼、福袋大放送',
							type:'立即申请',
							url:'https://rongmo2.zhgroot.cn/creditcard/indexActivity.htm?data=I2553943&itemcode=rm00000087'
						},
						{
							id:5,
							img:'./src/pu5.png',
							title:'首绑支付宝享满88减10',
							desc:'每天上午八点起限量抢',
							type:'立即申请',
							url:'https://rongmo2.zhgroot.cn/creditcard/indexActivity.htm?data=I2553943&itemcode=rm00000087'
						},
						{
							id:6,
							img:'./src/pu5.png',
							title:'首绑支付宝享满88减10',
							desc:'每天上午八点起限量抢',
							type:'立即申请',
							url:'https://rongmo2.zhgroot.cn/creditcard/indexActivity.htm?data=I2553943&itemcode=rm00000087'
						}
					],
					'中信银行':[
						{
							id:1,
							img:'./src/zx1.png',
							title:'指定商户5折/买一送一券',
							desc:'每周三、周六上午11点限量抢',
							type:'立即申请',
							url:'https://creditcard.ecitic.com/h5/shenqing/index.html?sid=SJW0000332'
						},
						{
							id:2,
							img:'./src/zx2.png',
							title:'消费满额领星巴克便携咖啡机',
							desc:'价值398，先到先得',
							type:'立即申请',
							url:'https://creditcard.ecitic.com/h5/shenqing/index.html?sid=SJW0000332'
						},
						{
							id:3,
							img:'./src/zx3.png',
							title:'彭于晏喊你来开卡啦',
							desc:'享物说百万好物任你兑',
							type:'立即申请',
							url:'https://creditcard.ecitic.com/h5/shenqing/index.html?sid=SJW0000332'
						},
						{
							id:4,
							img:'./src/zx4.png',
							title:'9积分畅享超值好礼',
							desc:'星巴克、必胜客、哈根达斯尽情享',
							type:'立即申请',
							url:'https://creditcard.ecitic.com/h5/shenqing/index.html?sid=SJW0000332'
						},
						{
							id:5,
							img:'./src/zx5.png',
							title:'送你2000里程，赶快领！',
							desc:'国航中信联名卡',
							type:'立即申请',
							url:'https://creditcard.ecitic.com/h5/shenqing/index.html?sid=SJW0000332'
						},
						{
							id:6,
							img:'./src/zx5.png',
							title:'送你2000里程，赶快领！',
							desc:'国航中信联名卡',
							type:'立即申请',
							url:'https://creditcard.ecitic.com/h5/shenqing/index.html?sid=SJW0000332'
						}
					],
					'光大银行':[
						{
							id:1,
							img:'./src/gd1.png',
							title:'口碑支付享5折优惠',
							desc:'超多门店参与，50元封顶',
							type:'立即申请',
							url:'https://xyk.cebbank.com/cebmms/apply/ps/card-list.htm?pro_code=FHTG023510SA0586RGLK'
						},
						{
							id:2,
							img:'./src/gd2.png',
							title:'小黄鸭周边大放送',
							desc:'拍立得、保温杯、精美手账',
							type:'立即申请',
							url:'https://xyk.cebbank.com/cebmms/apply/ps/card-list.htm?pro_code=FHTG023510SA0586RGLK'
						},
						{
							id:3,
							img:'./src/gd3.png',
							title:'10元购热门爆款口红',
							desc:'消费达标即享，快来拔草',
							type:'立即申请',
							url:'https://xyk.cebbank.com/cebmms/apply/ps/card-list.htm?pro_code=FHTG023510SA0586RGLK'
						},
						{
							id:4,
							img:'./src/gd4.png',
							title:'周三、周五10元看大片',
							desc:'阳光惠生活APP内参与',
							type:'立即申请',
							url:'https://xyk.cebbank.com/cebmms/apply/ps/card-list.htm?pro_code=FHTG023510SA0586RGLK'
						},
						{
							id:5,
							img:'./src/gd5.png',
							title:'美团外卖，立享满减',
							desc:'5000名额，先到先得',
							type:'立即申请',
							url:'https://xyk.cebbank.com/cebmms/apply/ps/card-list.htm?pro_code=FHTG023510SA0586RGLK'
						},
						{
							id:6,
							img:'./src/gd5.png',
							title:'美团外卖，立享满减',
							desc:'5000名额，先到先得',
							type:'立即申请',
							url:'https://xyk.cebbank.com/cebmms/apply/ps/card-list.htm?pro_code=FHTG023510SA0586RGLK'
						}
					],
					'中国银行':[
						{
							id:1,
							img:'./src/zhong1.png',
							title:'快捷支付5倍积分',
							desc:'微信、支付宝、京东支付等',
							type:'立即申请',
							url:'https://apply.mcard.boc.cn/apply/UNRFjq'
						},
						{
							id:2,
							img:'./src/zhong2.png',
							title:'优惠购神州专车电子券',
							desc:'20元购50元乘车券',
							type:'立即申请',
							url:'https://apply.mcard.boc.cn/apply/UNRFjq'
						},
						{
							id:3,
							img:'./src/zhong3.png',
							title:'1元抢30元话费',
							desc:'手机银行信用卡新户专享',
							type:'立即申请',
							url:'https://apply.mcard.boc.cn/apply/UNRFjq'
						},
						{
							id:4,
							img:'./src/zhong4.png',
							title:'每周二三五抢优惠券',
							desc:'手机银行App上午十点开抢',
							type:'立即申请',
							url:'https://apply.mcard.boc.cn/apply/UNRFjq'
						},
						{
							id:5,
							img:'./src/zhong5.png',
							title:'网易严选5折购',
							desc:'最高立减15元',
							type:'立即申请',
							url:'https://apply.mcard.boc.cn/apply/UNRFjq'
						},
						{
							id:6,
							img:'./src/zhong5.png',
							title:'网易严选5折购',
							desc:'最高立减15元',
							type:'立即申请',
							url:'https://apply.mcard.boc.cn/apply/UNRFjq'
						}
					],
					'民生银行':[
						{
							id:1,
							img:'./src/ms1.png',
							title:'购电影票满50元立减25元',
							desc:'民生信用卡专享',
							type:'立即申请',
							url:'https://creditcard.cmbc.com.cn/wsv2/?enstr=EElmFyYsT7I%2be8FEz94wG6WIPXEL7FXHEM%2bKiWWMVZBpTmxoGyT5fmVCYtkC3Ya%2bHqac1BZ4ckUIsVD3Cl%2fTI2ikn4qcKLXcT6tUXuvrOIObxJdXJaJvJ5%2b7kyGpSH4%2ffniLhMNwwclYQCPWTLC5%2fCgvoihUBD96oWvcYVAbt%2bYzv1bItdcEqWutxO5YNj4m8VcZNqXG5qK8Szc6wbA09IfQydeCTADb8CwPsPEnl5A24D3siqvorxnJ8fXjAgm%2bpbNwaqYPkXRitN500GbbAQwg3S%2f%2baEhs4bWfjOJ5otPKTTEDFQlLxiNLj5UDJp8n0vxSKBQgs6El4lQuts7UHA%3d%3d'
						},
						{
							id:2,
							img:'./src/ms2.png',
							title:'餐饮美食最高减100元',
							desc:'新用户乐享55元优惠券',
							type:'立即申请',
							url:'https://creditcard.cmbc.com.cn/wsv2/?enstr=EElmFyYsT7I%2be8FEz94wG6WIPXEL7FXHEM%2bKiWWMVZBpTmxoGyT5fmVCYtkC3Ya%2bHqac1BZ4ckUIsVD3Cl%2fTI2ikn4qcKLXcT6tUXuvrOIObxJdXJaJvJ5%2b7kyGpSH4%2ffniLhMNwwclYQCPWTLC5%2fCgvoihUBD96oWvcYVAbt%2bYzv1bItdcEqWutxO5YNj4m8VcZNqXG5qK8Szc6wbA09IfQydeCTADb8CwPsPEnl5A24D3siqvorxnJ8fXjAgm%2bpbNwaqYPkXRitN500GbbAQwg3S%2f%2baEhs4bWfjOJ5otPKTTEDFQlLxiNLj5UDJp8n0vxSKBQgs6El4lQuts7UHA%3d%3d'
						},
						{
							id:3,
							img:'./src/ms3.png',
							title:'美食消费返现高达100美元',
							desc:'消费即享20%返现',
							type:'立即申请',
							url:'https://creditcard.cmbc.com.cn/wsv2/?enstr=EElmFyYsT7I%2be8FEz94wG6WIPXEL7FXHEM%2bKiWWMVZBpTmxoGyT5fmVCYtkC3Ya%2bHqac1BZ4ckUIsVD3Cl%2fTI2ikn4qcKLXcT6tUXuvrOIObxJdXJaJvJ5%2b7kyGpSH4%2ffniLhMNwwclYQCPWTLC5%2fCgvoihUBD96oWvcYVAbt%2bYzv1bItdcEqWutxO5YNj4m8VcZNqXG5qK8Szc6wbA09IfQydeCTADb8CwPsPEnl5A24D3siqvorxnJ8fXjAgm%2bpbNwaqYPkXRitN500GbbAQwg3S%2f%2baEhs4bWfjOJ5otPKTTEDFQlLxiNLj5UDJp8n0vxSKBQgs6El4lQuts7UHA%3d%3d'
						},
						{
							id:4,
							img:'./src/ms4.png',
							title:'赫兹租车最低租7付4',
							desc:'民生Visa信用卡专享',
							type:'立即申请',
							url:'https://creditcard.cmbc.com.cn/wsv2/?enstr=EElmFyYsT7I%2be8FEz94wG6WIPXEL7FXHEM%2bKiWWMVZBpTmxoGyT5fmVCYtkC3Ya%2bHqac1BZ4ckUIsVD3Cl%2fTI2ikn4qcKLXcT6tUXuvrOIObxJdXJaJvJ5%2b7kyGpSH4%2ffniLhMNwwclYQCPWTLC5%2fCgvoihUBD96oWvcYVAbt%2bYzv1bItdcEqWutxO5YNj4m8VcZNqXG5qK8Szc6wbA09IfQydeCTADb8CwPsPEnl5A24D3siqvorxnJ8fXjAgm%2bpbNwaqYPkXRitN500GbbAQwg3S%2f%2baEhs4bWfjOJ5otPKTTEDFQlLxiNLj5UDJp8n0vxSKBQgs6El4lQuts7UHA%3d%3d'
						},
						{
							id:5,
							img:'./src/ms5.png',
							title:'1元尊享机场CIP礼遇',
							desc:'全国60余家机场尊享',
							type:'立即申请',
							url:'https://creditcard.cmbc.com.cn/wsv2/?enstr=EElmFyYsT7I%2be8FEz94wG6WIPXEL7FXHEM%2bKiWWMVZBpTmxoGyT5fmVCYtkC3Ya%2bHqac1BZ4ckUIsVD3Cl%2fTI2ikn4qcKLXcT6tUXuvrOIObxJdXJaJvJ5%2b7kyGpSH4%2ffniLhMNwwclYQCPWTLC5%2fCgvoihUBD96oWvcYVAbt%2bYzv1bItdcEqWutxO5YNj4m8VcZNqXG5qK8Szc6wbA09IfQydeCTADb8CwPsPEnl5A24D3siqvorxnJ8fXjAgm%2bpbNwaqYPkXRitN500GbbAQwg3S%2f%2baEhs4bWfjOJ5otPKTTEDFQlLxiNLj5UDJp8n0vxSKBQgs6El4lQuts7UHA%3d%3d'
						},
						{
							id:6,
							img:'./src/ms5.png',
							title:'1元尊享机场CIP礼遇',
							desc:'全国60余家机场尊享',
							type:'立即申请',
							url:'https://creditcard.cmbc.com.cn/wsv2/?enstr=EElmFyYsT7I%2be8FEz94wG6WIPXEL7FXHEM%2bKiWWMVZBpTmxoGyT5fmVCYtkC3Ya%2bHqac1BZ4ckUIsVD3Cl%2fTI2ikn4qcKLXcT6tUXuvrOIObxJdXJaJvJ5%2b7kyGpSH4%2ffniLhMNwwclYQCPWTLC5%2fCgvoihUBD96oWvcYVAbt%2bYzv1bItdcEqWutxO5YNj4m8VcZNqXG5qK8Szc6wbA09IfQydeCTADb8CwPsPEnl5A24D3siqvorxnJ8fXjAgm%2bpbNwaqYPkXRitN500GbbAQwg3S%2f%2baEhs4bWfjOJ5otPKTTEDFQlLxiNLj5UDJp8n0vxSKBQgs6El4lQuts7UHA%3d%3d'
						}
					],
					'兴业银行':[
						{
							id:1,
							img:'./src/xy1.png',
							title:'小积分抽大奖',
							desc:'戴森净化扇、华为手机等你拿',
							type:'立即申请',
							url:'https://wm.cib.com.cn/html/webapp/fast-issue/parnter.html?id=1fcd64010bb64c6ea69a01cda2d62a18'
						},
						{
							id:2,
							img:'./src/xy2.png',
							title:'欧洲26国申根签证代办',
							desc:'服务费低至199元',
							type:'立即申请',
							url:'https://wm.cib.com.cn/html/webapp/fast-issue/home.html?id=1fcd64010bb64c6ea69a01cda2d62a18'
						},
						{
							id:3,
							img:'./src/xy3.png',
							title:'境外消费笔笔返现1%',
							desc:'返现上限高达200美元',
							type:'立即申请',
							url:'https://wm.cib.com.cn/html/webapp/fast-issue/home.html?id=28afe30a9e8c4071a0881d48fd44b889'
						},
						{
							id:4,
							img:'./src/xy4.png',
							title:'新户办卡送便利蜂礼品卡',
							desc:'满18立减8元',
							type:'立即申请',
							url:'https://wm.cib.com.cn/html/webapp/fast-issue/home.html?id=1fcd64010bb64c6ea69a01cda2d62a18'
						},
						{
							id:5,
							img:'./src/xy5.png',
							title:'清明上河图主题金卡',
							desc:'航意险保额高达200万',
							type:'立即申请',
							url:'https://wm.cib.com.cn/html/webapp/fast-issue/home.html?id=a996cd6dd406408f80eeb3277dbc7e2e'
						},
						{
							id:6,
							img:'./src/xy5.png',
							title:'清明上河图主题金卡',
							desc:'航意险保额高达200万',
							type:'立即申请',
							url:'https://wm.cib.com.cn/html/webapp/fast-issue/home.html?id=a996cd6dd406408f80eeb3277dbc7e2e'
						}
					],
					'平安银行':[
						{
							id:1,
							img:'./src/pa1.png',
							title:'砸金蛋享好礼',
							desc:'话费免单 手机免费领',
							type:'立即申请',
							url:'https://c.pingan.com/ca/index?sign=929b8db6111f7aedf08c07598885da42&versionNo=R10310&scc=910000723&channel=WX&onlineSQFlag=N&ccp=1a3a9at4amk12'
						},
						{
							id:2,
							img:'./src/pa2.png',
							title:'在线支付 美食低至5折',
							desc:'平安口袋银行APP',
							type:'立即申请',
							url:'https://c.pingan.com/ca/index?sign=929b8db6111f7aedf08c07598885da42&versionNo=R10310&scc=910000723&channel=WX&onlineSQFlag=N&ccp=1a3a9at4amk12'
						},
						{
							id:3,
							img:'./src/pa3.png',
							title:'积分兑超值好礼',
							desc:'享美食饮品 看超级大片',
							type:'立即申请',
							url:'https://c.pingan.com/ca/index?sign=929b8db6111f7aedf08c07598885da42&versionNo=R10310&scc=910000723&channel=WX&onlineSQFlag=N&ccp=1a3a9at4amk12'
						},
						{
							id:4,
							img:'./src/pa4.png',
							title:'一键领取188元大礼包',
							desc:'口袋商城首单满29减10',
							type:'立即申请',
							url:'https://c.pingan.com/ca/index?sign=929b8db6111f7aedf08c07598885da42&versionNo=R10310&scc=910000723&channel=WX&onlineSQFlag=N&ccp=1a3a9at4amk12'
						},
						{
							id:5,
							img:'./src/pa5.png',
							title:'平安信用卡88折加油',
							desc:'全年最高返现720',
							type:'立即申请',
							url:'https://c.pingan.com/ca/index?sign=65ef9c3a92a61469e6f7aff3c6e0b602&versionNo=R10310&scc=910000720&channel=WX&onlineSQFlag=N&ccp=3'
						},
						{
							id:6,
							img:'./src/pa5.png',
							title:'平安信用卡88折加油',
							desc:'全年最高返现720',
							type:'立即申请',
							url:'https://c.pingan.com/ca/index?sign=65ef9c3a92a61469e6f7aff3c6e0b602&versionNo=R10310&scc=910000720&channel=WX&onlineSQFlag=N&ccp=3'
						}
					]
				},
				newslist:[
					{
						id:1,
						title:'简约白金卡，最高额度50000元！',
						img:'./src/link/news/news1.png',
						url:'https://rongmo2.zhgroot.cn/creditcard/indexActivity.htm?data=ZF2780059&itemcode=0000000187'
					},
					{
						id:2,
						title:'超萌小黄人卡，装进口袋带回家！',
						img:'./src/link/news/news2.png',
						url:'https://apply.mcard.boc.cn/apply/rUbMba'
					}
				]
			},
			methods:{
				opnext:function(){
					reswiper.updateSlides();
					reswiper.slideNext();
				},
				oppre:function(){
					reswiper.slidePrev();
				},
				selectrecom:function(item){
					this.activerecom=item;
					reswiper.updateSlides();
					reswiper.slideTo(0,0);
				}
			},
			computed:{
				compu_recommendObj:function(){
					const recommendObj = this.recommendObj;
					const maxlength=5;
					const arr=[];
					const obj=JSON.parse(JSON.stringify(recommendObj));
					for(var item in obj){
						var oparr=obj[item];
						let len=oparr.length;
						var smallobj={};
						for(var i=0;i<len;i++){
							var index=Math.floor(i/maxlength);
							smallobj[index]=!!smallobj[index]?smallobj[index]:[];
							smallobj[index].push(oparr[i]);
						}
						obj[item]=smallobj;
					}
					return obj;
				}
			},
			filters:{
				handleurl(url){
					let arr=url.split("?");
					let realurl=arr.shift();
					let str=arr.join("?");
					let brr=str.split("=");
					let keyname=brr.shift();
					let linkurl=brr.join("=");
					let value=escape(linkurl);
					return `${realurl}?${keyname}=${value}`
				},
				pufa(url){
					//TODO:这里也需要把你反向代理的域名换回他之前的域名
					return url.replace('https://rongmo2.zhgroot.cn','https://ecentre.spdbccc.com.cn')
				}
			}
		})
	</script>
</html>